# Byte-compiled / optimized / DLL files
__pycache__/

# Data files
data/*.csv
data/*.parquet
!data/*.sample.csv
!data/*.sample.parquet

# Logs
yappi.out

# pipenv
.venv
#Pipfile.lock

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

