[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
bs4 = "*"
nltk = "*"
numpy = "*"
tqdm = "*"
requests = "*"

[dev-packages]
yappi = "*"

[requires]
python_version = "3.10"
